/* #region Common */
.hidden {
    display: none;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #434455;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* #region Global */
body {
    background-color: #fafafa;
    color: #212121;
    line-height: 1.5;

    padding: 24px;
}


.gallery {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: auto;
}



@media only screen and (min-width: 768px) {
    .gallery {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 24px;
        justify-content: start;
        align-items: center;
    }

    .gallery-item {
        width: calc((100% - 24px) / 2);
    }

}

/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {

    .gallery {
        max-width: 100%;
    }

    .gallery-item {
        width: calc((100% - 48px) / 3);
    }
}


.gallery-div {
    min-width: 100%;
    height: 200px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.gallery-image {
    max-width: 100%;
    object-fit: cover;
}

.img-footer {
    padding-left: 20px;
    padding-right: 25px;
    padding-top: 4px;
    padding-bottom: 4px;
    display: flex;
    justify-content: space-between;
}

.footer-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1001;
    position: fixed;
    top: 0px;
    left: 50vh;
    transform: translate(50%, 0);
    padding-top: 10px;
    padding-bottom: 10px;
}

.form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
    width: 371px;
    height: 40px;
    margin-bottom: 32px;
}

.form input {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 272px;
    height: 40px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #808080;
}

.form input:hover {
    border: 1px solid #000;
}

.form input:active,
.form input:focus {
    border: 1px solid #4e75ff;
    color: #2e2f42;
}


.form button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    width: 91px;
    height: 40px;
    background: #4e75ff;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}

.form button:hover {
    background: #6c8cff;
}



/* #region Loader */
.loader {
    display: inline-block;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #0F0;
    position: relative;
    
}

.loader::before {
    content: '';
    position: absolute;
    left: 34px;
    bottom: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 5px solid #0F0;
    border-bottom-color: #FF3D00;
    box-sizing: border-box;
    animation: rotation 0.6s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* end region Loader */